.legend {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    max-width: 180px;
}

.legend-title {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.legend-item {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.legend-item i {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    display: inline-block;
    border: 1px solid #ccc;
}
